In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('./hw4_data/office/train.csv')

In [3]:
df

        id               filename         label
0        0         Couch00015.jpg         Couch
1        1        Helmet00018.jpg        Helmet
2        2  Refrigerator00011.jpg  Refrigerator
3        3   Alarm_Clock00061.jpg   Alarm_Clock
4        4          Bike00088.jpg          Bike
...    ...                    ...           ...
3946  3946         Mouse00019.jpg         Mouse
3947  3947         Chair00046.jpg         Chair
3948  3948       Candles00017.jpg       Candles
3949  3949       Flowers00013.jpg       Flowers
3950  3950     Flipflops00083.jpg     Flipflops

[3951 rows x 3 columns]

In [4]:
labels = sorted(df['label'].unique())

In [5]:
zip(labels,range(len(labels)))

In [6]:
translate_dict = {}
for k, v in zip(labels,range(len(labels))):
    translate_dict[k] = v

In [7]:
translate_dict

{'Alarm_Clock': 0,
 'Backpack': 1,
 'Batteries': 2,
 'Bed': 3,
 'Bike': 4,
 'Bottle': 5,
 'Bucket': 6,
 'Calculator': 7,
 'Calendar': 8,
 'Candles': 9,
 'Chair': 10,
 'Clipboards': 11,
 'Computer': 12,
 'Couch': 13,
 'Curtains': 14,
 'Desk_Lamp': 15,
 'Drill': 16,
 'Eraser': 17,
 'Exit_Sign': 18,
 'Fan': 19,
 'File_Cabinet': 20,
 'Flipflops': 21,
 'Flowers': 22,
 'Folder': 23,
 'Fork': 24,
 'Glasses': 25,
 'Hammer': 26,
 'Helmet': 27,
 'Kettle': 28,
 'Keyboard': 29,
 'Knives': 30,
 'Lamp_Shade': 31,
 'Laptop': 32,
 'Marker': 33,
 'Monitor': 34,
 'Mop': 35,
 'Mouse': 36,
 'Mug': 37,
 'Notebook': 38,
 'Oven': 39,
 'Pan': 40,
 'Paper_Clip': 41,
 'Pen': 42,
 'Pencil': 43,
 'Postit_Notes': 44,
 'Printer': 45,
 'Push_Pin': 46,
 'Radio': 47,
 'Refrigerator': 48,
 'Ruler': 49,
 'Scissors': 50,
 'Screwdriver': 51,
 'Shelf': 52,
 'Sink': 53,
 'Sneakers': 54,
 'Soda': 55,
 'Speaker': 56,
 'Spoon': 57,
 'TV': 58,
 'Table': 59,
 'Telephone': 60,
 'ToothBrush': 61,
 'Toys': 62,
 'Trash_Can': 63,
 'Webcam': 64}

In [8]:
with open('./office_translate.json', 'w') as f:
    json.dump(translate_dict, f)

In [9]:
len(translate_dict)

65